html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    line-height: 2;
}





/*Globales*/

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h1, h2, h3 {
    margin: 0 0 5rem 0;
}

body {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/*Header y navegacion*/
.nombre-sitio {
    margin-top: 5rem;
    margin-bottom: rem;
    text-align: center;
    font-size: 4rem;
}

.nombre-sitio span {
    color: #037bc0;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../assets/Imagenes\ Ecommerce/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}

/*  categorias */

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categorias {
    padding-top: 5rem;
}

.categorias h2 {
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/*Bloque Nosotros*/

.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../assets/Imagenes\ Ecommerce/nosotros.jpg);
    background-position: left center ;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin: 8rem 0;
    color: #fff;
}

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end; /*lo alineo a la derecha*/
}

.texto-nosotros {
    flex-basis: 50%; /*ancho del elemento*/
    padding-left: 8rem;
}